@import './common/var.scss';

@mixin button{
  font-size: $--button-font-size;
  padding: $--button-padding-vertical $--button-padding-horizontal;
  border-radius: $--button-border-radius;
  border: $--button-default-border;
  background: $--button-default-fill;
  color: $--button-default-color;
  transition:0.1s;
  white-space: nowrap;
}

@mixin button-variant($color){
  border-color: $color;
  background-color: $color;
  color: #fff;
  &.is-plain{
    @include button-plain($color);
    &.is-disabled{
      &, &:hover, &:focus, &:active{
        background-color: mix($--color-white, $color, 90%);
        border-color:mix($--color-white, $color, 80%);
        color:mix($--color-white, $color, 40%); 
      }
    }
  }
  &.is-round{
    border-radius:20px;
  }
  &.is-block{
    width:100%;
  }
  &.is-disabled{
    &, &:hover, &:focus, &:active{
      cursor:not-allowed;
      background-color: mix($--color-white, $color, 50%);
      border-color:mix($--color-white, $color, 50%);
      color:mix($--color-white, $color, 90%);
    }
  }
  &:hover, &:focus{
    background-color: mix($--color-white, $color, 20%);
    border-color: mix($--color-white, $color, 20%);
    color: #fff;
  }
  &:active{
    background-color: mix($--color-black, $color, 20%);
    border-color:mix($--color-black, $color, 20%);
    color:mix($--color-white, $color, 50%);
  }
}

@mixin button-plain($color){
  border-color: $color;
  background-color: #fff;
  color: $color;
  &:hover, &:focus{
    background-color: #fff;
    border-color: mix($--color-white, $color, 20%);
    color: mix($--color-white, $color, 20%);
  }
  &:active{
    background-color: #fff;
    border-color:mix($--color-white, $color, 40%);
    color:mix($--color-white, $color, 40%);
  }
}

@mixin button-size($padding-vertical, $padding-horizontal){
  padding: $padding-vertical $padding-horizontal;
  &.is-round{
    border-radius:20px;
  }
}

.e-button{
  display: inline-block;
  vertical-align:middle;
  text-align:center;
  line-height:1;
  @include button;
  &.e-button--primary{
    @include button-variant($--color-primary)
  }
  &.e-button--success{
    @include button-variant($--color-success)
  }
  &.e-button--danger{
    @include button-variant($--color-danger)
  }
  &.e-button--info{
    @include button-variant($--color-info)
  }
  &.e-button--medium{
    @include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal)
  }
  &.e-button--small{
    @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal)
  }
  &.e-button--mini{
    @include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal)
  }
  &.e-button--text{
    border-color:transparent;
    color:$--color-primary;
    background:transparent;
    padding-left:0;
    padding-right:0;
    &:hover, &:focus{
      color:$--color-primary;
      border-color:transparent;
      background:transparent;
    }
    &:active{
      color:mix($--color-black, $--color-primary, 20%);
      border-color:transparent;
      background:transparent;
    }
  }
}
