@import './common/var.scss';

.cell{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:$--cell-padding-vertical $--cell-padding-horizontal;
  position: relative;
  font-size:$--cell-font-size;
  background:#fff;
  @include line-top;
  &:first-child:before{
    height:0;
  }
  &.cell-indent:before{
    left:15px;
  }
  &.cell-tap-active{
    @include tap-active;
  }
  .cell-hd{
    display:flex;
    align-items:center;
    label{
      display:block;
      color:$--cell-label-color;
    }
    .label-desc{
      font-size:$--cell-label-desc-font-size;
      color:$--cell-label-desc-color;
      margin-top:$--cell-label-desc-margin-top;
    }
  }
  .cell-bd{
    flex:1;
    text-align:right;
    color:$--cell-value-color;
    .iconfont{
      display: inline-block;
      vertical-align:middle;
      font-size:18px;
      color:$--color-gray;
      transition: 0.3s;
      transform-origin:center center;
      &.down{
        transform:rotate(90deg);
      }
      &.up{
        transform:rotate(-90deg);
      }
    }
  }
}