@import './common/var.scss';

.checkbox{
  @include tap-active;
  .icon-check{
    font-size:20px;
    color:transparent!important;
  }
  .cell:before{
    height:1px!important;
  }
  input:checked + .icon-check{
    color: $--cell-checked-color !important;
  }
  &.is-round{
    .icon-check{
      width: $--cell-circle-size;
      height: $--cell-circle-size;
      line-height:$--cell-circle-size;
      border-radius:50%;
      border: 1px solid $--cell-circle-border-color;
    }
    input:checked + .icon-check{
      border-color:$--cell-checked-color;
      background:$--cell-checked-color;
      color:$--color-white !important;
    }
  }
}