@import './common/var.scss';

.picker{
  text-align:center;
  .modal{
    display:flex;
    flex-direction:column;
  }
  .picker-header{
    position: relative;
    @include line-bottom;
  }
  .picker-item{
    height:40px;
    line-height:40px;
    position: relative;
  }
}
