@import './common/var.scss';

.radio{
  @include tap-active;
  .icon-check{
    color:$--color-white !important;
  }
  input{
    width:100%;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
  }
  .cell-hd{
    img{
      width:$--cell-icon-img-size;
      height: $--cell-icon-img-size;
      margin-right:10px;
    }
    .iconfont{
      font-size:$--cell-icon-font-size;
      color:$--cell-icon-font-color;
      margin-right:10px;
    }
  }
  &.is-checked{
    .icon-check{
      color: $--cell-checked-color !important;
    }
  }
  &.is-circle{
    .icon-check{
      width: $--cell-circle-size;
      height: $--cell-circle-size;
      line-height:$--cell-circle-size;
      border-radius:50%;
      border: 1px solid $--cell-circle-border-color;
    }
    &.is-checked{
      .icon-check{
        border-color:$--cell-checked-color;
        background:$--cell-checked-color;
        color:$--color-white !important;
      }
    }
  }
}