@import './common/var.scss';

.tab{
  display:flex;
  align-items:center;
  background:#fff;
  position: relative;
  @include line-bottom;
  .tab-line{
    position: absolute;
    bottom:0;
    transition:0.3s;
    font-size:0;
    text-align:center;
    span{
      display: inline-block;
      vertical-align:middle;
      width:100%;
      height:2px;
      background:$--tab-active-color;
    }
  }
  .tab-item{
    flex:1;
    text-align:center;
    font-size:$--tab-font-size;
    color:$--tab-font-color;
    height:$--tab-height;
    line-height:$--tab-height;
    position: relative;
    &.selected{
      color:$--tab-active-color;
    }
  }
  &.scroll{
    overflow-x:auto;
    .tab-item{
      flex: 0 0 25%;
    }
  }
}