body{background: #F4F5F5;margin:0;font-family: 'PingFang SC', Helvetica, Arial, sans-serif;}
html,body{height:100%;font:14px/1.4 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;}
li{list-style:none;}
h1,h2,h3,p,ul,li,dl,dt,dd{margin:0;padding:0;}
img{vertical-align:middle;}
button,input,textarea,select{-webkit-appearance:none;border:0;background-color:transparent;-webkit-tap-highlight-color:transparent;padding:0;margin:0;}
button:focus,input:focus,textarea:focus,select:focus{outline:none;}
a{text-decoration:none;}
*{box-sizing:border-box;}

.flex{display:flex;align-items:center;}

.app{padding-top:60px;height:100%;}
.app-header{background:linear-gradient(to right, #347eff, #1ea3ff);height:60px;line-height:60px;padding:0 20px;position:fixed;left:0;right:0;top:0;}
.app-header h1{font-size:24px;color:#fff;text-align:center;font-weight:normal;}
.app-header .iconfont{font-size:20px;color:#fff;}
.app-info,.main{height:100%;}
.main{background:#fff;padding:1rem;overflow:auto;}

.aside{position:fixed;left:0;top:0;bottom:0;width:230px;top:60px;background:#fff;transform:translateX(-100%);transition:0.3s;}
.aside.active{transform:translateX(0);box-shadow:0 0 5px rgba(0,0,0,0.3);}
.aside li{padding:10px;font-size:16px;color:#666;position:relative;}
.aside li:before{content:"";display:inline-block;width:2px;height:26px;position:absolute;right:0;top:50%;margin-top:-13px;background:#4a8bfc;transform:scaleY(0);transition:0.3s;transform-origin:center center;}
.aside li.active{color:#4a8bfc;}
.aside li.active:before{transform:scaleY(1);}

.sidebar-toggle{position:absolute;left:10px;top:0;bottom:0;transition:0.3s;}
.sidebar-toggle .iconfont{position:absolute;left:0;top:50%;transform:translateY(-50%);transition:0.3s;}
.sidebar-toggle .icon-close{opacity:0;}
.sidebar-toggle.active .iconfont{transform: translateY(-50%) rotate(90deg);transform-origin:center center;}
.sidebar-toggle.active .icon-close{opacity:1;}
.sidebar-toggle.active .icon-list{opacity:0;}

