body{background: #F4F5F5;margin:0;font-family: 'PingFang SC', Helvetica, Arial, sans-serif;}
html,body{height:100%;font:14px/1.4 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;}
li{list-style:none;}
h1,h2,h3,p,ul,li,dl,dt,dd{margin:0;padding:0;}
img{vertical-align:middle;}
button,input,textarea,select{-webkit-appearance:none;border:0;background-color:transparent;-webkit-tap-highlight-color:transparent;padding:0;margin:0;}
button:focus,input:focus,textarea:focus,select:focus{outline:none;}
a{text-decoration:none;}
*{box-sizing:border-box;}
.v-m{vertical-align:middle;}.ib{display: inline-block;}

.flex{display:flex;align-items:center;}

.app{padding-top:60px;height:100%;}
.app-header{background:linear-gradient(to right, #347eff, #1ea3ff);height:60px;line-height:60px;padding:0 20px;position:fixed;left:0;right:0;top:0;}
.app-header h1{font-size:24px;color:#fff;text-align:center;font-weight:normal;}
.app-header .iconfont{font-size:20px;color:#fff;}
.app-info,.main{height:100%;}

.main{background:#f5f5f5;overflow:auto;-webkit-overflow-scrolling:touch;}
.main h2{background:#fff;font-size:16px;color:#409EFF;font-weight:normal;padding:1rem;border-bottom:1px solid #ededed;}
.main h3{background:#fff;font-size:16px;color:#333;font-weight:normal;padding:1rem;position:relative;}
.main h3:before{content:"";display:inline-block;width:4px;height:16px;background:#409EFF;position:absolute;left:0;top:50%;margin-top:-8px;}
.main .description{font-size:14px;color:#333;font-weight:normal;margin:1rem;background:#fff;padding:1rem;border:1px solid #ededed;}
.main .description li{padding:5px 0;}
.main p{background:#fff;margin-bottom:2rem;}

.aside{position:fixed;left:0;top:0;bottom:0;width:230px;top:60px;background:#fff;transform:translateX(-100%);transition:0.3s;z-index:100;}
.aside.active{transform:translateX(0);box-shadow:0 0 5px rgba(0,0,0,0.3);}
.aside li{padding:10px;font-size:16px;color:#666;position:relative;}
.aside li:before{content:"";display:inline-block;width:2px;height:26px;position:absolute;right:0;top:50%;margin-top:-13px;background:#409EFF;transform:scaleY(0);transition:0.3s;transform-origin:center center;}
.aside li.active{color:#409EFF;}
.aside li.active:before{transform:scaleY(1);}

.sidebar-toggle{position:absolute;left:10px;top:0;bottom:0;transition:0.3s;}
.sidebar-toggle .iconfont{position:absolute;left:0;top:50%;transform:translateY(-50%);transition:0.3s;}
.sidebar-toggle .icon-close{opacity:0;}
.sidebar-toggle.active .iconfont{transform: translateY(-50%) rotate(90deg);transform-origin:center center;}
.sidebar-toggle.active .icon-close{opacity:1;}
.sidebar-toggle.active .icon-list{opacity:0;}

/* 代码块的样式覆盖 */
pre{overflow-x:auto;}
code{background:#F5F5F5;font-size:12px;color:#333;padding:5px;border-radius:4px;font-family:Menlo,Monaco,Consolas,Courier,monospace;margin-right:1em;}

/* button nativeClass测试 */
.btn{background:#f5f5f5!important;border-color:#ccc!important;border-radius:6px!important;color:#333!important;}

/* checker defaultClass测试 */
.defaultClass{border-color:#666!important;border-radius:4px;width:100px;}
.selectedClass{border-color:#ff6666!important;color:#ff6666!important;}


