$--color-primary: #409EFF;
$--color-danger: #F56C6C;
$--color-success: #67C23A;
$--color-info: #909399;
$--color-warning: #E6A23C;

$--color-white: #fff;
$--color-black: #000;
$--color-gray: #ccc;
$--color-3: #333;
$--color-6: #666;
$--color-9: #999;

$--border-radius-base: 4px;
$--border-width-base: 1px;
$--border-style-base: solid;
$--border-color-base: $--color-primary;
$--border-base: $--border-width-base $--border-style-base $--border-color-base;

$--line1px-color: #d9d9d9;

@mixin line-top{
  &:before{
    content:"";
    display: inline-block;
    height:1px;
    background:$--line1px-color;
    position:absolute;
    left:0;
    right:0;
    top:0;
    transform:scaleY(0.5);
    z-index:99;
  }
}
@mixin line-bottom{
  &:after{
    content:"";
    display: inline-block;
    height:1px;
    background:$--line1px-color;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    transform:scaleY(0.5);
    z-index:99;
  }
}

$--tap-highlight-color:rgba(0, 0, 0, 0.05);
@mixin tap-active{
  &:active{
    background:$--tap-highlight-color;
  }
}

// button
$--button-font-size: 15px;
$--button-border-radius: $--border-radius-base;
$--button-default-color: $--color-white;
$--button-default-fill: $--color-primary;
$--button-default-border: $--border-base;

$--button-padding-vertical: 12px;
$--button-padding-horizontal: 20px;

$--button-medium-padding-vertical: 10px;
$--button-medium-padding-horizontal: 20px;

$--button-small-padding-vertical: 9px;
$--button-small-padding-horizontal: 15px;

$--button-mini-padding-vertical: 7px;
$--button-mini-padding-horizontal: 10px;

// cell
$--cell-font-size: 16px;
$--cell-label-color: $--color-3;
$--cell-value-color: $--color-9;
$--cell-padding-vertical: 12px;
$--cell-padding-horizontal: 15px;

$--cell-label-desc-font-size: 13px;
$--cell-label-desc-color: $--color-9;
$--cell-label-desc-margin-top: 5px;

// radio





